.heading-2{
  font-weight:500;
}
.brand{
font-family: 'Quattrocento Sans', sans-serif;
}
/* Jumbotron */
.jumbo{
  padding:50px;
  background-color:#f6f6f6;
}
/* Right Col */
.span{
  font-family: 'Newsreader', serif;
  font-size:20px;
}
.upload-quote{
  margin-top:20px;
  margin-left:17px;
}
.row-component{
border:2px solid white;
background-color:#d3e0ea;
margin:5px 0;
}
.upload-button{
  width:150px;
  height:60px;
  margin-top:60px;
  margin-left:100px;
}
/* 3D-Effects */
.effect{
  margin-top:50px;
}
.left{
  margin-left:20px;
}
.music{
  margin-right:10px;
}
